main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    align-self: center;
}

ul > li > ul > li:nth-child(1), ul > li > ul > li:nth-child(3) {
    background-color: #d2d2d2;
}

ol > li:nth-child(3):hover, ol > li:nth-child(5):hover {
    cursor: pointer;
}

ol > li:nth-child(4) {
    background-color: #bfeab0;
}

a:nth-child(2) {
    font-style: italic;
}
