h2 {
    align-self: center;
}

tr:nth-child(1) > td {
    text-align: center;
    background-color: #90d978;
    font-weight: 700;
    color: #174b06;
}

tr:nth-child(2) > td {
    background-color: #d7d7d7;
}

tr:nth-child(4) > td {
    background-color: #d7d7d7;
}

table, th, td {
    padding: 5px;
    border: 1px solid #afafaf;
    text-align: center;
}

tr:not(tr:nth-child(1)) > td:nth-child(5) {
    text-align: right;
}

a:nth-child(2) {
    font-style: italic;
}



@media screen and (max-width: 768px) {
    th {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    th {
        font-size: 1.2rem;
    }
    td {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) {
    th {
        font-size: 1.3rem;
    }
    td {
        font-size: 1.2rem;
    }
}

